@use '/src/styles/_colors.scss' as colors;

.navbar {
  width: 100%;
  background-color: transparent;
  height: 100px;
  position: fixed;
}

.navbarActive {
  width: 100%;
  height: 100px;
  position: fixed;
  background-color: colors.$primary;
  opacity: 0.5;
  z-index: 5;
}

.navbarSpacer {
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 60px;
}

.logoContainer {
}

.navContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  li {
    float: left;
    list-style-type: none;
  }
}

.navbarItem {
  > a {
    text-align: left;
    letter-spacing: 0px;
    color: colors.$white;
    opacity: 1;
    font: normal normal bold 14px/18px montserrat-regular;
    color: colors.$white;
    text-decoration: none;
    margin-left: 4rem;
  }
}

.navbarItemButton > a {
  font: normal normal bold 14px/18px montserrat-regular;
  color: colors.$white;
  border: 1px solid colors.$white;
  border-radius: 31px 31px 31px 0px;
  padding: 0.875rem 1.875rem 0.75rem;
  margin-top: -1rem;
  margin-left: 4rem;
  text-decoration: none;
}
