@use '/src/styles/_colors.scss' as colors;
@use 'src/styles/_media-queries.scss' as queries;

.navbar {
  width: 100%;
  background-color: transparent;
  height: 100px;
  position: fixed;
  z-index: 5;
  @include queries.tablet {
    background: transparent linear-gradient(180deg, #161b40 0%, #140f29 100%) 0% 0% no-repeat padding-box;
  }
}

.navbarActive {
  width: 100%;
  height: 100px;
  position: fixed;
  background-color: colors.$primary;
  opacity: 0.5;
  z-index: 5;
  @include queries.tablet {
    display: none;
  }
}

.navbarMobileMenuBackground {
  @include queries.tablet {
    width: 100%;
    height: 100px;
    background: transparent linear-gradient(180deg, #161b40 0%, #140f29 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
  }
}

.navbarSpacer {
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 6rem;
  @include queries.tablet {
    flex-direction: column;
    padding: 2rem 0 0 0;
    width: 100vw;
    display: none;
  }
  @include queries.mobile {
    flex-direction: column;
    padding-top: 1rem;
  }
}

.navContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  ul {
    display: flex;
    flex-direction: row;
    @include queries.tablet {
      flex-direction: column;
      align-items: center;
    }
  }
  ul > li {
    list-style-type: none;
  }
}

.navbarItem {
  :hover {
    color: colors.$grey;
  }
  > a {
    transition: 0.2s;
    color: colors.$white;
    text-align: left;
    letter-spacing: 0px;
    opacity: 1;
    font: normal normal bold 14px/18px montserrat-regular;
    text-decoration: none;
    margin-left: 4rem;
  }
  &Black {
    @extend .navbarItem;
    > a {
      color: colors.$black;
    }
  }
}

.navbarItemButton {
  font: normal normal bold 14px/18px montserrat-regular;
  color: colors.$white;
  border: 1px solid colors.$white;
  border-radius: 31px 31px 31px 0px;
  padding: 0.875rem 1.875rem 0.75rem;
  margin-top: -1rem;
  margin-left: 4rem;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  transition: 0.2s;
  &:hover {
    color: colors.$grey;
    border-color: colors.$grey;
  }
  &Black {
    @extend .navbarItemButton;
    border: 1px solid colors.$black;
    color: colors.$black;
  }
}

.navContainerMobile {
  position: absolute;
  display: 'none';
}

.modalContentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modalTitle {
  margin: 2rem 0;
}

.modalContent {
  text-align: center;
  > input {
    width: 100%;
    max-width: 535px;
    @include queries.tablet {
      width: 100%;
      padding-left: 3rem;
    }
    height: 56px;
    margin-right: 2.3rem;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #e0e0e5;
    text-align: left;
    font: normal normal medium 18px/22px montserrat;
    padding-left: 6rem;
    outline: none;
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    -webkit-text-fill-color: colors.$grey;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    outline: none;
  }
}

.modalButtonWrapper {
  margin: 2rem 0;
  width: 216px;
  @include queries.tablet {
    width: 100%;
  }
}

.mobileMenuButton {
  position: absolute;
  top: 25px;
  right: 30px;
  display: none;
  color: colors.$white;
  transition: 0.2s;
  &:hover {
    color: colors.$grey;
  }
  @include queries.tablet {
    display: inline;
  }
  @include queries.mobile {
    top: 25px;
    right: 15px;
  }
}

.mobileNavbar {
  display: none;
  position: absolute;
  top: -100%;
  transition: all 0.5s ease;
  z-index: -1;
  @include queries.tablet {
    width: 100%;
    display: block;
  }
  &Visible {
    @extend .mobileNavbar;
    top: 100px;
  }
}

.mobileNavItem {
  outline: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: transparent linear-gradient(180deg, #161b40 0%, #140f29 100%) 0% 0% no-repeat padding-box;
  &:hover {
    > a,
    button {
      text-decoration: none;
      color: colors.$primary;
    }
  }
  > a,
  button {
    text-decoration: none;
    color: colors.$white;
    background: none;
    border: none;
  }
}

.mobileLogoContainer {
  height: 100%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  display: none;
  @include queries.tablet {
    display: flex;
    position: relative;
  }
}
