@use '/src/styles/_colors.scss' as colors;

@mixin Small {
  width: 100%;
  height: 44px;
}
@mixin Medium {
  width: 100%;
  height: 62px;
}

@mixin Large {
  width: 100%;
  height: 62px;
}

.button {
  border-radius: 31px 31px 31px 0px;
  border-width: 0;
  opacity: 1;
  box-shadow: none;
  outline: none;
  color: colors.$primary-light;
  font-family: montserrat-bold;
  cursor: pointer;
  &__Blue {
    @extend .button;
    background: colors.$primary 0% 0% no-repeat padding-box;
    &__Large {
      @extend .button__Blue;
      @include Large;
    }
    &__Medium {
      @extend .button__Blue;
      @include Medium;
    }
    &__Small {
      @extend .button__Blue;
      @include Small;
    }
  }
  &__Inverted {
    @extend .button;
    border: 1px solid colors.$white;
    background-color: transparent;
    &__Large {
      @extend .button__Inverted;
      @include Large;
    }
    &__Medium {
      @extend .button__Inverted;
      @include Medium;
    }
    &__Small {
      @extend .button__Inverted;
      @include Small;
    }
  }
  &__White {
    @extend .button;
    border: 1px solid colors.$primary;
    color: colors.$primary;
    background-color: transparent;
    &__Large {
      @extend .button__White;
      @include Large;
    }
    &__Medium {
      @extend .button__White;
      @include Medium;
    }
    &__Small {
      @extend .button__White;
      @include Small;
    }
  }
}
