@use '/src/styles/_colors.scss' as colors;

$width: 834px;
.topSection {
  height: 253px;
  width: 100%;
  background-color: colors.$white;
}
.cardsListSection {
  width: 100%;
  background-color: colors.$primary-light;
  padding-top: 13.4rem;
  padding-bottom: 15.4rem;
  overflow: hidden;
}

.cardsWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.searchBarWrapper {
  position: relative;
  top: 200px;
  left: calc(50% - #{$width/2});
}

.container {
  width: $width;
  min-width: 680px;
  padding: 3rem;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 4px 35px #0000001f;
  display: flex;
  > input {
    width: 100%;
    max-width: 535px;
    height: 62px;
    margin-right: 2.3rem;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #e0e0e5;
    text-align: left;
    font: normal normal medium 18px/22px montserrat;
    outline: none;
  }
}
.buttonWrapper {
  min-width: 262px;
}
