@use '/src/styles/_colors.scss' as colors;
@use 'src/styles/_media-queries.scss' as queries;

.addressContainer {
  background-color: colors.$primary-light;
  border-radius: 19px;
  width: 100%;
  height: 118px;
  padding: 2rem 12.6rem 0.7rem 4.6rem;
  margin: 3rem 0;
  text-align: left;
  word-wrap: break-word;
}

.detailCard {
  background-color: colors.$white;
  width: 402px;
  height: 620px;
  position: relative;
  margin: 0 4.5rem;
  @include queries.tablet {
    max-width: 100%;
    margin: 1rem 0;
  }
}

.imgWrapper {
  max-width: 557px;
  max-height: 620px;
  position: relative;
  margin: 0 4.5rem;
  img {
    width: 100%;
    height: 100%;
  }
}

.contentContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 10rem;
  @include queries.tablet {
    flex-direction: column;
    width: 100%;
  }
}

.websiteWrapper {
  text-align: center;
  margin: 3.6rem auto;
  text-decoration: underline;
}

.companyWrapper {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 34px;
  line-height: 3.4rem;
  padding: 1.7rem 3rem;
}

.nameWrapper {
  font-size: 38px;
  font-size: 3.8rem;
  line-height: 34px;
  line-height: 3.4rem;
  margin: 0.8rem 0;
}

.backButton {
  margin-bottom: 1rem;
  button {
    background: #ecefff 0% 0% no-repeat padding-box;
    border-radius: 24px;
    width: 135px;
    height: 48px;
    border: none;
    outline: none;
    cursor: pointer;
  }
}
