@use '/src/styles/_colors.scss' as colors;
@use 'src/styles/_media-queries.scss' as queries;

.developmentSection {
  width: 100%;
  height: 100vh;
  background: linear-gradient(90deg, rgba(20, 15, 41, 1) 0%, rgba(22, 27, 64, 1) 50%, rgba(20, 15, 41, 1) 100%);
  background: url('../assets/Video_screenshot_Mirek.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  @include queries.tablet {
    height: 100%;
    padding-bottom: 20rem;
  }
}

.introductionSection {
  width: 100%;
  height: 100%;
  background: colors.$white 0% 0% no-repeat padding-box;
}

.introductionSidesWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @include queries.tablet {
    flex-direction: column;
  }
}
.introductionLeftSide {
  width: 45%;
  @include queries.tablet {
    text-align: center;
    width: 100%;
  }
}
.introductionRightSide {
  width: 45%;
  position: relative;
  margin-left: 2.2rem;
  @include queries.tablet {
    text-align: center;
    width: 100%;
    margin-left: 0;
  }
}
.introductionRightSide::before {
  content: '';
  position: absolute;
  top: -10%;
  right: 40%;
  bottom: 30%;
  left: -10%;
  background-image: url('../assets/Component13–1@2x.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  @include queries.tablet {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
.textWrapper {
  position: relative;
  height: 250px;
  font-size: 1.8rem;
  line-height: 3rem;
  @include queries.tablet {
    height: 100%;
  }
}

.topSection {
  height: 150px;
  margin-bottom: 7.7rem;
  @include queries.tablet {
    height: 100%;
  }
}

.firstLine {
  margin-bottom: 2.2rem;
}

.buttonRow {
  display: flex;
  justify-content: center;
  padding-bottom: 9rem;
  padding-top: 6rem;
  max-width: 300px;
  margin: 0 auto;
}

.developmentBoxLeft {
  display: flex;
  flex-direction: column;
  max-width: 45%;
  justify-content: space-around;
  @include queries.tablet {
    width: 100%;
    max-width: 100%;
    word-wrap: break-word;
  }
}

.contactButtonRow {
  max-width: '283px';
  @include queries.tablet {
    max-width: 100%;
  }
}

.developmentBoxRight {
  height: 423px;
  max-width: 45%;
  @include queries.tablet {
    margin-top: 2rem;
    max-width: 100%;
    height: 100%;
  }
}
.contentWrapper {
  position: relative;
  top: 20rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @include queries.tablet {
    height: 100%;
    top: 10rem;
    flex-direction: column;
    text-align: center;
  }
}
